<div class="widget">
  <div id="next-event" class="clearfix next-event">
    <div class="set col-md-8">
      <h1>Australian Grand Prix</h1>
      <span class="subheading">Albert Park Grand Prix Circuit in Melbourne, Australia</span>
      <div class="date-time">
        <span class="date">2014-03-16</span>
        <span class="time">06:00:00Z</span>
      </div>
    </div>
    <div class="set col-md-4">
      <h2>2014</h2>
      <h3>season</h3>
    </div>
    <div class="circuit-small-info">
      
    </div>
  </div>
</div>