<div class="selection-info">
  <div class="season-info">
    <h2>{{nextEvent.season}}</h2>
    <h3>season</h3>
  </div>
</div>

<div class="widget">

  <div id="next-event" class="clearfix next-event race-event">
    <div class="set col-md-1 next-round round">
      {{nextEvent.round}}
    </div>
    <div class="set col-md-6">
      <h1>{{nextEvent.raceName}}</h1>
      <span class="subheading">{{nextEvent.Circuit.circuitName}}, {{nextEvent.Circuit.Location.locality}}</span>
      <div class="date-time">
        <span class="date">{{nextEvent.date}}</span>
        <span class="time">{{local_time}} <span class="utc-time">({{nextEvent.time}})</span></span>
      </div>
    </div>
    <div class="circuit-small-info">
      
    </div>
  </div>
  
</div>

<div class="widget">

  <div id="previous-event" class="clearfix previous-event race-event">
    <div class="set col-md-1 previous-round round">
      {{nextEvent.round}}
    </div>
    <div class="set col-md-6">
      <h1>{{nextEvent.raceName}}</h1>
      <span class="subheading">{{nextEvent.Circuit.circuitName}}, {{nextEvent.Circuit.Location.locality}}</span>
      <div class="date-time">
        <span class="date">{{nextEvent.date}}</span>
        <span class="time">{{local_time}} <span class="utc-time">({{nextEvent.time}})</span></span>
      </div>
    </div>
    <div class="circuit-small-info">
      
    </div>
  </div>
  
</div>