<div class="selection-info"></div>

<div class="col-md-3 col-custom" ng-repeat="driver in StandingsList">
  <div class="widget">
    <div class="driver-photo"><img ng-src="img/drivers/{{driver.Driver.driverId}}.jpg" alt="{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}" class="img-responsive"></div>
    <div>
      <div class="driver-wins">{{driver.wins}}</div>
      <div class="driver-points">{{driver.points}}</div>
      <div class="driver-team">{{driver.Constructors[0].name}}</div>
    </div>
    <div class="driver-name">{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}</div><!-- driver first and last name -->
  </div>
</div>