<div class="selection-info">
  <div class="current-status col-md-12">
    <div class="widget">
      <div ng-repeat="status in DriverStatus.Status" class="{{status.status}} counter-{{status.count}}">
        {{status.status}} : {{status.count}}
      </div>
    </div>
  </div>
</div>


<div class="side-nav col-md-3">
  <div class="widget">
    <li><a href="#">Biography</a></li>
    <li><a href="#">Results</a></li>
  </div>
</div>
<div class="main-content col-md-9">
  <div class="biography-container widget" ng-bind-html='DriverBio'></div>
</div>