<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">F1 Data</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Standings <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#/standings/current/driver">Drivers</a></li>
            <li><a href="#/standings/current/constructor">Constructors</a></li>
          </ul>
        </li>
        <li><a href="#/info/current/drivers">Drivers</a></li>
        <li><a href="#/current/constructors">Constructors</a></li>
        <li><a href="#/current/circuits">Circuits</a></li>
        <li><a href="#/current/schedule">Race Schedule</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>