html,
body {
  height: 100%;
}
/* Fonts
=============*/
@import url("http://fonts.googleapis.com/css?family=OpenSans:300italic, 400italic, 700italic, 400, 300, 700");
/* Body
=============*/
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/* General */
a {
  color: #9bd0f6;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #54aff0;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* Widgets (All view blocks)
==================================== */
.widget {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 12px;
  color: #f8f8f8;
  background: rgba(81,81,81,0.4);
  margin-top: 15px;
  position: relative;
}
/* Navigation
================== */
.dropdown-toggle {
  cursor: pointer;
}
/* Dashboard
==================== */
.season-info h2 {
  color: #c91619;
  font-size: 54px;
  font-weight: bold;
  line-height: 16px;
  margin: 32px 0 0;
}
.season-info h3 {
  color: #999;
  margin: 0;
  font-size: 37px;
}
.race-event h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 34px;
  margin: 10px 0 0;
}
.race-event .subheading {
  font-size: 20px;
  color: #999;
}
.race-event h5 {
  text-align: right;
}
.race-event .round {
  font-size: 80px;
  line-height: 117px;
  font-weight: lighter;
  font-style: italic;
  color: #fff;
  border-right: 1px solid;
  letter-spacing: -8px;
}
.race-event .round.next-round {
  background-color: #06993a;
}
.race-event .round.previous-round {
  background-color: #222;
  color: #999;
}
.race-event .time {
  font-size: 20px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #fff;
  color: #ffd700;
}
.race-event .date {
  font-size: 20px;
  color: #daa520;
}
.race-event .date-time {
  margin-top: 10px;
}
.race-event .utc-time {
  font-size: 13px;
  color: #008000;
}
/* Standings List
=================================== */
.drivers-nationality img,
.constructor-nationality img {
  width: 30px;
}
.standings .drivers-icon {
  background: url("../img/web/drivers.png") no-repeat center 0;
}
.standings .constructors-icon {
  background: url("../img/web/constructors.png") no-repeat center 0;
}
.standings .icon {
  float: left;
  text-align: center;
  height: 60px;
  width: 80px;
  line-height: 120px;
  color: #fff;
}
.driver-name {
  font-size: 1.3em;
  line-height: 2em;
}
.driver-points {
  float: left;
  color: #56bc76;
}
.driver-wins {
  float: right;
}
.driver-team {
  clear: both;
}
span.standing {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 94%;
  text-align: center;
  font-size: 3.6em;
  line-height: 40px;
  color: rgba(160,174,150,0.2);
  letter-spacing: -4px;
  z-index: -1;
}
/*radial-gradient(ellipse farthest-side at 10% 0 , rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9)) repeat scroll 0 0%, url("../img/bgnoise_lg_dark.png") repeat scroll 0 0 rgba(0, 0, 0, 0)*/
/*carbon_pattern*/
/* Transitions
================================== */
.row div {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* Media Queries
================================== */
/* Large desktop */
@media screen and (min-width: 1601px) {
  .col-md-3.col-custom {
    width: 14.285%;
  }
}
@media (min-width: 1301px) and (max-width: 1600px) {
  .col-md-3.col-custom {
    width: 16.667%;
  }
}
@media (min-width: 1051px) and (max-width: 1300px) {
  .col-md-3.col-custom {
    width: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .col-md-3.col-custom {
    width: 25%;
    float: left;
  }
}
@media (min-width: 581px) and (max-width: 767px) {
  .col-md-3.col-custom {
    width: 33.334%;
    float: left;
  }
}
@media (min-width: 401px) and (max-width: 580px) {
  .col-md-3.col-custom {
    width: 50%;
    float: left;
  }
}
@media (max-width: 400px) {
  .col-md-3.col-custom {
    width: 100%;
  }
}
