html, body
{
  height: 100%;
}

/* Fonts
=============*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans\:300italic,400italic,700italic,400,300,700);

/* Body
=============*/
/* IE9 SVG, needs conditional override of 'filter' to 'none' */


/* Widgets (All view blocks)
==================================== */
.widget
{
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 12px;
  color: #f8f8f8;
  background: rgba(81, 81, 81, 0.4);
  margin-top: 15px;
  position: relative;
}

/* Navigation
================== */
.dropdown-toggle {cursor: pointer;}

/* Dashboard
==================== */
.season-info
  h2
    color #C91619
    font-size 54px
    font-weight bold
    line-height 16px
    margin 32px 0 0
  h3
    color #999999
    margin 0
    font-size 37px

.race-event
  h1
    color #FFF
    font-size 40px
    font-weight bold
    letter-spacing 0
    line-height 34px
    margin 10px 0 0
  .subheading
    font-size 20px
    color #999
  h5
    text-align right
  .round
    font-size 80px
    line-height 117px
    font-weight lighter
    font-style italic
    color #FFF
    border-right 1px solid
    letter-spacing -8px
    &.next-round
      background-color #06993A
    &.previous-round
      background-color #222
      color #999
  .time
    font-size 20px
    margin-left 10px
    padding-left 10px
    border-left 1px solid #FFF
    color gold
  .date
    font-size 20px
    color goldenrod
  .date-time
    margin-top 10px
  .utc-time
    font-size 13px
    color green


/* Standings List
=================================== */
.drivers-nationality img, .constructor-nationality img {width: 30px;}

/*radial-gradient(ellipse farthest-side at 10% 0 , rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9)) repeat scroll 0 0%, url("../img/bgnoise_lg_dark.png") repeat scroll 0 0 rgba(0, 0, 0, 0)*/
/*carbon_pattern*/