html,
body {
  height: 100%;
}
/* Fonts
=============*/
@import url("http://fonts.googleapis.com/css?family=OpenSans:300italic, 400italic, 700italic, 400, 300, 700");
/* Body
=============*/
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
/* Widgets (All view blocks)
==================================== */
.widget {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 12px;
  color: #f8f8f8;
  background: rgba(81,81,81,0.4);
  margin-bottom: 30px;
  position: relative;
}
/* Navigation
================== */
.dropdown-toggle {
  cursor: pointer;
}
/* Dashboard
==================== */
.season-info h2 {
  color: #c91619;
  font-size: 54px;
  font-weight: bold;
  line-height: 16px;
  margin: 32px 0 0;
  text-align: right;
}
.season-info h3 {
  color: #999;
  margin: 0;
  text-align: right;
  font-size: 37px;
}
.race-event h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 34px;
  margin: 10px 0 0;
}
.race-event .subheading {
  font-size: 20px;
  color: #999;
}
.race-event h5 {
  text-align: right;
}
.race-event .round {
  font-size: 80px;
  line-height: 117px;
  font-weight: lighter;
  font-style: italic;
  color: #fff;
  border-right: 1px solid;
  letter-spacing: -8px;
}
.race-event .round.next-round {
  background-color: #a52a2a;
}
.race-event .round.previous-round {
  background-color: #008000;
}
.race-event .time {
  font-size: 20px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #fff;
  color: #ffd700;
}
.race-event .date {
  font-size: 20px;
  color: #daa520;
}
.race-event .date-time {
  margin-top: 10px;
}
.race-event .utc-time {
  font-size: 13px;
  color: #008000;
}
/* Standings List
=================================== */
.drivers-nationality img,
.constructor-nationality img {
  width: 30px;
}
/*radial-gradient(ellipse farthest-side at 10% 0 , rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9)) repeat scroll 0 0%, url("../img/bgnoise_lg_dark.png") repeat scroll 0 0 rgba(0, 0, 0, 0)*/
/*carbon_pattern*/
